<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SourceDbConnection" connectionString="Server=smartcare-db1.cloudapp.net;Database=DayCareDemo;User Id=hromero;Password=hromero123;Trusted_Connection=false;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;Max Pool Size=1024;" providerName="System.Data.SqlClient"/>
    <add name="DestDbConnection" connectionString="Server=tcp:54.149.53.165,1433;Database=SmartDW;User ID=alignbi;Password=PasswordBI!;Trusted_Connection=false;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;Max Pool Size=1024;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>